@import 'base/';
@import 'div/';
@import 'Sticky/';
@import 'menu/';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


  
  /* For WebKit-based browsers (Chrome, Safari, etc.) */
  body::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }
  